docs/html
docs/tagfile.xml
docs/*.tag

_*/

raw/
models/
data/
libs/dlib/

build-example*

.compiler*
Project.xcconfig
*.xcodeproj
*.plist

example*/Makefile
example*/config.make

*.swp
*.bg
*.qbs

*.sln
*.vcxproj
*.vcxproj.filters
icon.rc

*.mode1v3

# xcode
*.pbxuser
*.perspectivev3
xcuserdata
build
*.app

